

header {
  width: 100%;
  display: flex;
  height: 20px;
  /* background: yellow; */
  justify-content: space-evenly;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #dddddd;
}

header > div {
  /* background: pink; */
}
