@font-face {
  font-family: "WandohopeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --carrot: #ff7b54;
  --navy: #161d6f;
  --darkViolet: #6155a6;
  --lightViolet: #a685e2;
  --pink: #ffabe1;
}
* {
  box-sizing: border-box;
  font-family: "WandohopeB", Arial, Helvetica, sans-serif;
}
body {
  font-family: "WandohopeB", Arial, Helvetica, sans-serif;
  min-width: 1200px;
  color: var(--navy);

  background: linear-gradient(
    to right,
    #6155a6,
    #6155a6,
    #a685e2,
    #da9ff9,
    #ffabe1
  );
  /* -ms-overflow-style: none; */
  height: 100vh;
}
/* ::-webkit-scrollbar {
  display: none;
} */
i:hover {
  cursor: pointer;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  color: #fff;
}
header h2:nth-of-type(1) {
  position: absolute;
  font-size: 32px;
  top: 50px;
  left: 5%;
}
header h2:nth-of-type(2) {
  position: absolute;
  top: 50px;
  right: 8%;
  font-size: 32px;
}

.container {
  width: 100%;
  height: -webkit-calc(100% - 180px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  background: #fff;
  border-radius: 20px 0 0 0;
  border: 1px solid black;
  min-height: 400px;
  height: 450px;
  width: 450px;
  padding: 20px;
  box-shadow: 2px 2px 5px #312c51;
}

#dropdown-wrapper {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 45%;
  position: relative;
  z-index: 1;
}

.dropdown-select {
  padding: 7px;
  border: 1px solid black;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-list {
  border-radius: 4px;
  background: #fff;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  cursor: focus;
  overflow-y: auto;
  height: 150px;
  border: 1px solid black;
}

.dropdown-list__item {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: 5px 0 5px 0;
  border-radius: 4px;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-list__item:hover {
  cursor: pointer;
  background: #6155a6;
  color: #fff;
}

.num-of-tasks {
  display: flex;
  margin-bottom: 5px;
}
.num-of-tasks * {
  margin: 0 2px;
}

button:hover,
button:active {
  cursor: pointer;
}
