#todo-wrapper,
#done-wrapper {
  height: 70%;
  padding: 20px;
  width: 300px;
}
.overflow-box {
  height: 85%;
  margin-bottom: 10px;
  overflow-y: auto;
  padding: 10px 0;
  margin: 10px;
}
.todo-header {
  margin-bottom: 10px;
}

.todo-container {
  background: #ddd;
  height: 50%;
  padding: 20px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

#todolist,
#donelist {
  height: 100%;
}

.todo-flexbox,
.done-flexbox {
  min-height: 70px;
  background: #f1f6f9;
  border-radius: 5px 0 0 5px;
  border-left: 10px solid #14274e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
  word-break: break-all;
}

.todo-item,
.done-item {
  width: 70%;
}

.delete-all-todos-btn,
.delete-all-dones-btn {
  border: none;
  background: salmon;
}

.square {
  margin: 0 2px;
}
.square:hover {
  cursor: pointer;
}

.icon-box {
  min-height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
